/*styles specific to scheduling functionality and results*/

/*hide the table header until at least one response has been submitted*/
#schedule-headers {
  display: none;
}

/*temp styles as developer visual aids*/
.attend-true {
  color: white;
  background: green;
}

.attend-false {
  color: white;
  background: red;
}
